  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/sanitize.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

<h1>しりとりゲーム画面</h1>

<p>現在の単語: <span id="currentWord"><%= current_character %></span></p>

<div id="wordList">
  <% @random_words.each do |word| %>
    <div class="wordItem">
      <%= image_tag word.image.variant(resize: '100x100') %>
    </div>
  <% end %>
</div>

<%# <button id="shuffleButton">シャッフル</button> %>

<%= link_to "もどる", games_path %>