<%# Content missingが発生する要因 %>
<%# <turbo-frame id="edit_word"> %>
<%# /Content missingが発生する要因 %>

  <h1>しりとり単語編集ページ</h1>
  <%= render partial: "form", locals: { word: @word } %>

<%# Content missingが発生する要因 %>
<%# </turbo-frame> %>
<%# /Content missingが発生する要因 %>
