.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 10px 0;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.word {
  justify-content: space-around;
  align-items: center;
}

.word__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.word {
  width: calc(25% - 10px);
  margin-bottom: 40px;
  margin-right: 5px;
  text-align: left;
}

.word__img {
  margin-bottom: 16px;
}

.word__list {
  text-align: left;
}

#wordList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
}

.wordItem {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordItem p {
  font-weight: bold;
}